@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'),
      url(lobster_0bb8e965b43150fe5f875de8f9692762.woff) format('woff'),
      url(lobster_0bb8e965b43150fe5f875de8f9692762.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans-Regular'),
      url(open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.woff) format('woff'),
      url(open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.ttf) format('truetype');
}